/* -----------
    Fonts
-------------- */

@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Heebo&family=Lobster&family=Oleo+Script+Swash+Caps&family=Poppins:wght@400;500&family=Yeseva+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Heebo&family=Inter:wght@700&family=Lobster&family=Oleo+Script+Swash+Caps&family=Poppins:wght@400;500&family=Yeseva+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Heebo&family=Inter:wght@700&family=Lobster&family=Oleo+Script+Swash+Caps&family=Poppins:wght@400;500&family=Roboto:wght@700&family=Yeseva+One&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin: 0;
}

.body1 {
    margin-left: 120px;
    margin-top: 90px;
    margin-right: 120px;
}

/* -------------------
      First Section
 --------------------- */
.first-section {
    width: 100%;
    height: 475px;
}

.first-container {
    display: flex;
    justify-content: space-between;
}

.aricle-1 {
    width: 582px;
    height: 270px;
}

#journey-text {
    width: 582px;
    height: 133px;
    font-size: 52px;
    font-weight: 700;
    line-height: 70px;
}

#inside-text {
    width: 505px;
    height: 60.9px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;

}


.button {
    width: 196px;
    height: 44px;
}

.button a {
    text-decoration: none;
}

#prebook {
    width: 196px;
    height: 44px;
    border-radius: 35px;
    background-color: #E02C6D;
    text-decoration: none;
    color: #FFFFFF;
    padding-left: 80px;
    padding-top: 20px;
}

.camera-photo {
    position: relative;
    top: 0;
    left: 0;
}

.camera-photo #image-1 {
    position: relative;
    top: 0;
    bottom: 0;
}

.camera-photo #image-1 {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 440px;
    height: 414px;
}

/*-----------------------
    First Section End
------------------------ */

/*--------------------------------
        Second Section Start
-------------------------------- */

.second-section {
    margin-top: 70px;
    margin-left: 15%;
    width: 1110px;
    height: 110px;
}

.hori-line {
    color: #D1D1D1;
}

.companies {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 5%;
    width: 986px;
    height: 40px;
}

/*-------------------------
    Second Section End 
--------------------------- */

/*-------------------------
    Third Section Strat
------------------------- */

.third-section {
    margin-top: 100px;
}

.third-section a {
    text-decoration: none;
    position: relative;
    top: 50px;
    left: 1455px;

}

.third-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 60px;
    justify-items: center;
}

#popular-text {
    text-align: center;
    color: #3A3A3A;
    font-weight: 600;
    font-size: 28px;

}

.one-item {
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    width: 329px;
    height: 476px;
    margin: 0;
    padding: 0;
}

.product-name {
    font-size: 28px;
    font-weight: 600;
    margin: 0;
}

.product-price {
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 150%;
    font-style: normal;
    margin: 0;
}

.star {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    margin-bottom: 0;
}

.fa-star {
    width: 11px;
    height: 11px;
    color: #FB8200;
    margin-right: 8px;
}

.rating-number {
    font-family: 'Roboto', sans-serif;
    color: #5E6366;
    font-size: 14px;
    font-weight: 700;
    margin-left: 12px;
}

.components {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.components>img {
    margin-bottom: 15px;
}

.shipping-info {
    margin-top: 0;
    font-family: 'Inter', sans-serif;
    color: #787885;
    font-weight: 700;
    font-size: 14px;
    width: 196px;
    height: 61px;
    letter-spacing: 0.018em;
    line-height: 143%;

}

#see-text {
    color: #E02C6D;
    font-size: 16px;
    font-weight: 700;
}

/* ----------------------------
        Section Three End
------------------------------ */

/*------------------------
    Section Four Start
-------------------------*/

.fourth-section {
    margin-top: 100px;
}

.fourth-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.gear-photo {
    margin-top: 50px;
    width: 404px;
    height: 270px;
}

#feature-text {
    font-weight: 700;
    font-size: 38px;
    color: #0A0826;
}

#feature-inside {
    width: 501px;
    height: 88px;
    font-weight: 700;
    font-size: 16px;
    color: #6C6C6C;
}

.button4 {
    width: 196px;
    height: 44px;
}

.button4 a {
    text-decoration: none;
}

#join {
    width: 155px;
    height: 44px;
    background-color: #E02C6D;
    text-decoration: none;
    color: #FFFFFF;
    padding-left: 80px;
    padding-top: 20px;
}

/*----------------------------
    Section Four Ended
----------------------------- */

/*----------------------------
         Footer Start
----------------------------- */

footer {
    margin-top: 100px;
    margin-left: 0;
    width: 2000px;
    height: 240px;
    background-color: #0A0826;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-content {
    color: #D1D1D1;
    padding: 50px 589px;
}

#footer-text {
    font-size: 24px;
    font-weight: 700;
}

.footer-para {
    font-size: 14px;
    font-weight: 700;
}

/*-----------------
    Media Query
 ----------------- */

@media only screen and (max-width:688px) {
    body {
        margin: 0;
    }

    .body1 {
        margin: 0;
    }

    .first-container {
        margin-top: 100px;
        scale: 0.65;
        width: 400px;
        height: 400px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .camera-photo {
        width: 400px;
        height: 400px;
        justify-content: center;
        align-items: center;
    }

    .aricle-1 {
        width: 404px;
        height: 222px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #journey-text,
    #inside-text {
        margin-top: 20px;
        text-align: center;
    }

    .second-section {
        width: 275px;
        height: 61px;
    }

    .companies {
        width: 275px;
        height: 61px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: space-evenly;
        align-content: center;
        justify-items: center;
    }

    /* .third-section {

    } */

    .third-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    #see-text {
        display: none;
    }

    .fourth-container {
        display: flex;
        flex-direction: column-reverse;
    }

    .aricle-4 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #feature-text,
    #feature-inside {
        text-align: center;
    }

    /* .fourth-section {
        display: none;
    } */

    footer {
        width: 100%;
        height: 300px;
        margin-bottom: 0;
    }

    .footer-content {
        position: relative;
        bottom: 50px;
        width: 224px;
        height: 111px;
        padding: 0;
    }
}